@{
    ViewData["Title"] = "Ola";
}

<div style="text-align: center">
    @if (ViewData["name"] == null)
    {
        <h1>Diz teu nome por favor</h1>

        <form asp-controller="Entry" asp-action="comprimento" method="post">
            <input type="text" asp-for-a name="name" id="name" />
            <button type="submit">Cumprimentar</button>
        </form>
    }
    else
    {
        <h1>@ViewData["dia"] @ViewData["name"]</h1>
    }

</div>