<form asp-controller="Entry" asp-action="InputForm" method="post">
    <div class="text-center">
    <input type="text" asp-for-a name="a" id="a" />
    <input type="text" asp-for-b name="b" id="b" /> 
    <button type="submit">Somar</button>
    </div>
</form>
